.myCanvas{
    position: absolute;
    left: 200px;
    top: 0px;
}
body{
    background-image: url("http://47.102.45.176:9191/images/2019/10/05/E4C4CFCF-3312-4A51-8FE6-655DA6D43C87.jpg");
    background-repeat: no-repeat;
    background-position: center;

}